/* You can add global styles to this file, and also import other style files */

body {
    background-color:  #e9ecef !important;
}

.form-signin {
    max-width: 500px;
    margin: 0 auto;
}

.form-signin-heading {
    text-align: center;
}

a {
    cursor: pointer !important;
}