<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">Welcome</h1>
        <h2 class="text-center">Trainer Tracks Client Workout Tracking System Login</h2>
    </div>


    <form class="form-signin">
        <h3 class="form-signin-heading">Sign-in</h3>
        <input autofocus class="form-control" type="email" placeholder="Email address" name="email" [(ngModel)]="user.email" />
        <input class="form-control" type="password" placeholder="Password" name="password" [(ngModel)]="user.password" />
        <div class="mt-2 col-md-12"></div>
        <button type="button" class="btn btn-lg btn-primary btn-block" (click)="login()">Sign in</button>
    </form>
</div>