<h2>Client Forms</h2>
<div class="row">
    <table class="table table-hover">
        <thead>
            <th scope="col">Form Name</th>
        </thead>
        <tbody *ngIf="forms.length">
            <tr class="pointer link" *ngFor="let form of forms" (click)="downloadClientForm(form.formName)">
                <td>{{ form.formName }}</td>
            </tr>
        </tbody>
        <tbody *ngIf="!forms.length && !isLoading">
            <tr>
                <td colspan="1">No forms found</td>
            </tr>
        </tbody>
        <tbody *ngIf="isLoading">
            <tr>
                <td colspan="1" class="text-center">
                    <loading></loading>
                </td>
            </tr>
        </tbody>
    </table>
</div>