<h2>Client Search</h2>

<form [formGroup]="searchForm" class="row">
    <input class="col-md-2 form-control m-1" formControlName="firstName" placeholder="First Name..." />
    <input class="col-md-2 form-control m-1" formControlName="lastName" placeholder="Last Name..." />
    <button class="btn btn-primary btn-sm m-1" (click)="searchClients()">Search</button>
</form>

<div class="row">
    <table class="table table-hover">
        <thead>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
        </thead>
        <tbody *ngIf="clients.length">
            <tr class="pointer" *ngFor="let client of clients" (click)="navigateToClientDetails(client.client.clientId)">
                <td>{{ client.client.firstName }}</td>
                <td>{{ client.client.lastName }}</td>
            </tr>
        </tbody>
        <tbody *ngIf="!clients.length && !isLoading">
            <tr>
                <td colspan="2">No clients found</td>
            </tr>
        </tbody>
        <tbody *ngIf="isLoading">
            <tr>
                <td colspan="2" class="text-center">
                    <loading></loading>
                    <!-- <div class="align-middle">
                        <div class="lds-roller">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <span>Loading clients</span>
                    </div> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>